.community-guide-area-guide {
  /* border: 1px solid red; */
  height: min-content;
  width: 100%;
  margin-bottom: 120px;
  /* padding-inline: 70px; */
  padding-inline: clamp(30px, 3.5vw, 70px);
}

.community-guide-area-guide-heading {
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.community-guide-area-guide-heading div {
  width: clamp(11px, 1.125vw, 22px);
  height: clamp(11px, 1.125vw, 22px);
  border-radius: 50%;
  background-color: #011825;
}
.community-guide-area-guide-heading h1 {
  color: #011825;
  font-size: clamp(35px, 2.5vw, 55px);
  /* font-size: 55px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*!  !*/

/* CommunityGuideAreaGuide.css */

.community-guide-area-guide-content {
  width: 100%;
  padding-top: 50px;
}

.guide-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 80px;
  /* border: 2px solid orange; */
}

.guide-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(154, 154, 154, 0.5) 0px 1px 3px 0px,
    rgba(154, 154, 154, 0.5) 0px 0px 0px 1px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  /* border: 1px solid rgb(154, 154, 154); */
}

.guide-card:hover {
  transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.guide-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.guide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.guide-card:hover .guide-image img {
  transform: scale(1.05);
}

.guide-title {
  padding-block: 1.25rem;
}

.guide-title h3 {
  color: #011825;
  font-size: clamp(20px, 2vw, 40px);
  /* font-size: 40px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding-left: 15px;
}

@media (max-width: 1550px) {
  .community-guide-area-guide {
    padding-inline: 40px;
  }
  .knowledge-hub-blog-container {
    column-gap: 40px;
  }
}